@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer utilities {
    @variants responsive {
      
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
    }
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;                                                
    overflow-x: hidden;
}
